*.launch
*.project
*.cproject
*.settings/
*.jou
*.str
*.xml
*.html
*.xsa
*.rpt
*.cache/
*.runs/
*.ip_user_files/
*.hw/
*.sim/
*.sdk/
*.xpr
*.xise
*.vivado.log
vivado.*

hardware/pong_vga_proj/
hardware/pong_vga_proj/pong_vga_proj.gen/
hardware/pong_vga_projpong_vga_proj.srcs/sources_1/ip/
!hardware/pong_vga_proj/pong_vga_proj.srcs/sources_1/imports/src/*.vhd
hardware/pong_vga_proj/pong_vga_proj.srcs/constrs_1/
hardware/pong_vga_projpong_vga_proj.ip_user_files/
!hardware/pong_vga_proj/pong_vga_proj.xpr
!hardware/constraints

!*.vhd
!hardware/
!hardware/pong_vga_proj/
!hardware/pong_vga_proj/pong_vga_proj.srcs/
!hardware/pong_vga_proj/pong_vga_proj.srcs/sources_1/
!hardware/pong_vga_proj/pong_vga_proj.srcs/sources_1/imports/
!hardware/pong_vga_proj/pong_vga_proj.srcs/sources_1/imports/src/